@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.nav-wrapper{
	background: whitesmoke;
}
.brand-logo, h1{
font-family: 'Grand Hotel', 'cursive';
};
.myCard{
	margin-top: 10px ;
	
}
.login-card{
	
	text-align: center;
	padding:20px;
	max-width: 400px;
	margin: 60px auto;
 
}

a{
	color:black  !important ;
}
.login-span{
  color:blue;
  cursor: pointer;
}

/* Profile section  */
.gallery{
	display:flex;
	gap:8px;
	flex-wrap: wrap;
}
.galleryPhotos{
	width: 30%;
}

/* Home section  */

.home-card{
  margin:26px auto;
  max-width: 500px;
  height:max-content;
}